.sectra {
  font-family: 'GT Sectra', sans-serif;
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.title-spaced {
  letter-spacing: 4.5px;
}

.form-control {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #f06060;
}
